<?xml version="1.0"?>
<ruleset name="composer-installer">
    <description>Coding standards for PHP_CodeSniffer Standards Composer Installer Plugin</description>

    <arg name="extensions" value="php"/>
    <!-- Show sniff codes in all reports, and progress when running -->
    <arg value="sp"/>
    <!-- Strip the filepaths down to the relevant bit. -->
    <arg name="basepath" value="."/>

    <file>.</file>
    <exclude-pattern>*/.git*</exclude-pattern>
    <exclude-pattern>*/build/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>

    <rule ref="PHPCompatibility"/>
    <config name="testVersion" value="5.4-"/>

    <rule ref="PSR12">
        <!-- Constant visibility can not be declared (yet) as the minimum supported PHP version is 5.4
             and constant visibility was only introduced in PHP 7.1. -->
        <exclude name="PSR12.Properties.ConstantVisibility.NotFound"/>
    </rule>

    <rule ref="Generic.Formatting.MultipleStatementAlignment">
        <properties>
            <property name="maxPadding" value="40" />
        </properties>
    </rule>

    <rule ref="PSR1.Files.SideEffects">
        <exclude-pattern>*/tests/bootstrap\.php$</exclude-pattern>
    </rule>

    <!-- Fixture method names in the test classes will be in snake_case because of the PHPUnit Polyfills. -->
    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <exclude-pattern>*/tests/</exclude-pattern>
    </rule>

</ruleset>
