---
name: Integration Test

on:
  # Run on pushes to `main` and on all pull requests.
  push:
    branches:
      - main
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

env:
  COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{ secrets.GITHUB_TOKEN }}"}}'

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: "${{ matrix.os }}"

    strategy:
      matrix:
        php:
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'
          - '8.5'
          - '8.6'
        composer:
          - 'v2'
          - '2.2'
        os:
          - 'ubuntu-latest'
          - 'windows-latest'

        exclude:
          # Composer 2.3 drops support for PHP < 7.2, so `v2` will install Composer >= 2.3.
          # The current matrix is set up to safeguard that the Composer 2.2 LTS version is 100% supported for PHP 7.2-8.3.
          # Note: Composer 2.2 is not compatible with PHP >= 8.4 and it is unlikely that it will be
          # made compatible with PHP >= 8.4, so we need to exclude those builds.
          - php: '8.4'
            composer: '2.2'
          - php: '8.5'
            composer: '2.2'

        include:
          # Also test against the dev version of Composer for early warning about upcoming changes.
          - php: 'latest'
            composer: 'snapshot'
            os: 'ubuntu-latest'

          - php: 'latest'
            composer: 'snapshot'
            os: 'windows-latest'

    name: "Integration test"

    continue-on-error: ${{ matrix.php == '8.6' || matrix.composer == 'snapshot' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: ${{ matrix.php }}
          extensions: json, zip
          ini-values: zend.assertions=1, error_reporting=-1, display_errors=On, display_startup_errors=On
          tools: "composer:${{ matrix.composer }}"
          coverage: none
        env:
          fail-fast: true

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-php-dependencies-with-composer
      - name: Install Composer dependencies
        if: ${{ matrix.php != '8.6' }}
        uses: "ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520" # 3.1.1
        with:
          composer-options: '--optimize-autoloader'
          # Bust the cache at least once a month - output format: YYYY-MM.
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Install Composer dependencies
        if: ${{ matrix.php == '8.6' }}
        uses: "ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520" # 3.1.1
        with:
          composer-options: '--ignore-platform-reqs --optimize-autoloader'
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Run integration tests
        run: vendor/bin/phpunit --no-coverage
